@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

:root { 
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-pading: 20px 40px;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family: 'Josefin Sans', sans-serif;

}

.container{
width: 90%;
margin: 0 auto;
overflow: hidden;
padding: 60px 0;
max-width: 1200px;
}


.titulo{
color: #642a73;
font-size: 30px;
text-align: center;
margin-bottom: 60px;

}


.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem; 
    margin-bottom: 35px;
}


.hero{
   height: 100vh;
   background-image: var(--background), url('../assets/comida.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   position: relative;
}


.hero{
  padding: 0;
 }


 .nav{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     height: 70px;
     align-items: center;
     font-weight: 700;
    }

    .nav--footer{
    font-weight: 300px;
    justify-content: flex-start;
    }

    .nav__items{
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
        padding: 10px 15px;
        font-weight: inherit;
    }      


    .nav__items--cta{
      border: 1px solid #fff;  
    } 

    .nav__items--footer{
         padding: 10px;
      }  


    .hero__container{
        display: flex;
        height: calc(100vh - 70px);
        align-items: center;
        color: #fff; 
    }   


    .hero__texts{
        width: 80%;
        margin-bottom: 50px;
    }   

    .hero_title{
        font-size: 3.2rem;
}   
  
    .hero_subtitle{
        font-size: 2rem;
        font-weight: 300;
        margin: 15px 0;
}   


    .hero__cta{
        display: inline-block;
        background: #ffffff00;
        color: var(--color-primary);
        text-decoration: none;
        border-radius: 40px;

} 

    .hero__wave{
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
}   

/* About */

.presentation{
    padding: 0;
    text-align: center;
} 


.about{
    min-height: 400;
    display: flex;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-content: space-evenly;
    align-items: center;
} 

.about__img{
    text-align: center;
} 

.about__img--left{
    text-align: left;
} 

.about__picture{
max-width: 80%;
} 

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5px;
    font-weight: 300;
} 

/* Projects */

.projects{
background: #f2f2f2;
} 

.projects__grid{
display: grid;
height: 500px;
width: 100%;
height: 100%;
object-fit: cover;
display: block;
grid-template-areas: 
"hawaiana" 
" peperoni"  
"mexicana" 
"pizzaq" 
"sencillo" 
"tocino" 
"hqueso"
"res"  
"arrachera"  
"pollo"  
"doble"
"fritas"  
"gajo"  
"alitas" 
"dedos"
"coca" 
"pepsi"  
"manzanita"  
"sprite"  
"fanta";
gap: 10px;
} 



.projects__item{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    height: 10%;
    overflow: hidden;  
}

.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__item:nth-of-type(1){
grid-area: hawaina;
}

.projects__item:nth-of-type(peperoni){
    grid-area: peperoni;
    }

.projects__item:nth-of-type(mexicana){
    grid-area: mexicana;
}

.projects__item:nth-of-type(pizzaq){
    grid-area: pizzaq;
}

.projects__item:nth-of-type(sencillo){
    grid-area: sencillo;
}

.projects__item:nth-of-type(tocino){
    grid-area:tocino;
}

.projects__item:nth-of-type(hqueso){
    grid-area: hqueso;
}

.projects__item:nth-of-type(res){
    grid-area: res;
}

.projects__item:nth-of-type(arrachera){
    grid-area: arrachera;
}

.projects__item:nth-of-type(pollo){
    grid-area: pollo;
}

.projects__item:nth-of-type(doble){
    grid-area: doble;
}

.projects__item:nth-of-type(fritas){
    grid-area: fritas;
}

.projects__item:nth-of-type(gajo){
    grid-area: gajo;
}

.projects__item:nth-of-type(alitas){
    grid-area:alitas;
}

.projects__item:nth-of-type(dedos){
    grid-area: dedos;
}

.projects__item:nth-of-type(coca){
    grid-area: coca;
}

.projects__item:nth-of-type(pepsi){
    grid-area: pepsi;
}

.projects__item:nth-of-type(manzanita){
    grid-area:manzanita;
}

.projects__item:nth-of-type(sprite){
    grid-area:sprite;
}

.projects__item:nth-of-type(fanta){
    grid-area: fanta;
}

.projects__hover{
    position: absolute;
    background: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}   

.projects__item:hover .projects__hover{
transform: translateX(0%);
}      


/* Testimony */

.testimony__grid{
width: 100px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 30px;
} 

.testimony__item{
width: 95%;
margin: 0 auto;
background: var(--color-secondary);
box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
border-radius: 7px;
padding: 30px 25px;
color: #fff;
margin-bottom: 50px;
}


.testimony__person{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.testimony__img{
    width: 350px;
    min-width: 200px;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 30px;
}

.testimony_name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.testimony__verification{
    color: #e0afa0;
    font-weight: 700;
}

.testimony__review{
    font-weight: 300;

}

/* Footer */

.footer{
    background: var(--color-primary);
}   

.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}